footer{
    text-align: center;
    position: relative;
    padding: 10px;
    margin: 5px;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    background-color: #363636;
    width: 100%;
}

.FooLeft{
    top: 0;
    position: absolute;
    border-color: #363636;
    left: 0;
    width: 50%;
}

.FooCen {
    padding: 1px;
    top: 0;
    position: sticky;
    float: none;
    width: 100%;
}

.FooRight{
    top: 0;
    position: absolute;
    border-color: #363636;
    right: 0;
    width: 50%;
}