@media only screen and (min-width: 1px) {
  .left-right{

  }

  .right-Ron {
    width: 2%;
    height: 100vh;
    background-color: gray;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }

  /* Estilos para la lista oculta */
  .right-Roff {
    width: 0;
    height: 100vh;
    background-color: lightgray;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 2%; /* Alineación de la lista con la barra de activación */
    transition: width 0.5s ease;
    z-index: 1;
  }

  /* Estilos para la animación de mostrar la lista */


  /* Estilos para el lado derecho */
  .left-Lon {
    width: 2%;
    height: 100vh;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
  }

  .left-Loff {
    width: 0;
    height: 100vh;
    background-color: lightgray;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.5s ease;
    z-index: 1;
  }
  .Ron {
    width: 90%;
    top:5% ;
    position: fixed;
    margin-bottom: 10%;
  }

  .Lon{
    width: 100%;
    top:5% ;
    position: fixed;
    margin-bottom: 10%;
  }

  a{
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .text-list{
    margin-left: 6%;
    margin-right: 8% ;
  }

  .text-list a:nth-child(odd) {
    color: black;
    background-color: #808080;
  }

  .text-list a:nth-child(even) {
    color: black;
    background-color: #a8a7a7;
  }

  .text-list a:hover {
    color: black;
    background-color: #eeeebe;
  }
  /* Por defecto, ocultamos el contenedor de la lista */
  .list-container {
    display: none;
  }

  /* Cuando el checkbox esté mostrado , se muestra el contenedor */
  #toggle:checked ~ .list-rlconainer {
    display: block;
  }
  

  /* ---------------------------------------------------  */

  .button-rlconainer {
    display: flex; /* Mostrar como flexbox */
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    align-items: center; /* Alinear al centro verticalmente */
    width: 100%; /* Ancho completo */
    max-width: calc(100% - 40px); /* Ancho máximo con un margen */
    margin: 0 20px; /* Márgenes izquierdo y derecho */
  }

  /* Estilos para los botones */
  .rlbutton {
    text-align: center; /* Texto centrado */
    position: relative; /* Posición relativa */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    padding: 10px; /* Relleno interno */
    margin: 5px; /* Margen externo */
    border: 1px solid #ccc; /* Borde sólido */
    border-radius: 5px; /* Borde redondeado */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    background-color: #363636; /* Color de fondo */
    width: 100%; /* Ancho completo */
  }

  /* Estilos para el contenedor de lista desplegable */
  .list-rlconainer {
    display: none; /* Ocultar por defecto */
    position: absolute; /* Posición absoluta */
    top: 100%; /* Posición desde la parte superior del botón */
    left: 0; /* Posición desde la izquierda del botón */
    background-color: #474747; /* Color de fondo */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1; /* Índice de apilamiento */
    width: 100%; /* Ancho completo */
    animation: fadeIn 0.3s ease-in-out; /* Animación de entrada */
  }

  /* Estilos para los elementos de la lista desplegable */
  .list-rlconainer a {
    display: block; /* Mostrar como bloque */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin-bottom: 10px; /* Margen inferior */
    width: 100%; /* Ancho completo */
  }

  /* Estilos para el estado hover de los elementos de la lista desplegable */
  .list-rlconainer a:hover {
    background-color: white; /* Color de fondo al pasar el ratón */
    color: black; /* Cambio de color de texto al pasar el ratón */
  }

  /* Mostrar la lista desplegable al pasar el ratón por encima del botón
  .button:hover .list-rlconainer { /* Sacado de w3schools
    display: block; /* Mostrar la lista desplegable
  }*/

  #rpictures{
    align-items: center;
    width: 50%;
    padding-top: 30%;

  }

}

@media only screen and (min-width: 768px) {
  .Ron {
    width: 100%;
  }

  .Lon{
    width: 100%;
  }

  .text-list{
    margin-left: 4%;
    margin-right: 8% ;
  }
}

@media only screen and (min-width: 1024px) {
  .Ron {
    width: 20%;
  }

  .Lon{
    width: 23%;
    padding-top: 1%;
  }

  .left-Lon {
    width: 2%;
  }

  .text-list{
    margin-left: 12%;
    margin-right: 14% ;
  }


}
