@media only screen and (min-width: 1px) {
        #center-container {
                padding-top: 5%;
                width: 90%;
                padding-left: 5%;

        }
}

@media only screen and (min-width: 768px) {
        #center-container {

        }
}

@media only screen and (min-width: 1024px) {
        body {
                /*background-image: url("/img/general/background.png");*/
        }

        #center-container {
                padding-top: 5%;
                padding-left: 20%;
                padding-right: 20%;
                width: 60%;
                position: absolute;
        }

}




