a{
        color: black;
        text-decoration: none;
}


body {
        padding-top: 5%;
        width: 60%;
        position: absolute;
        left: 20%;
}

#title {
        display: flex; /* Mostrar como flexbox */
}

.CondChapter{
        border-style: solid;
        border-color: #5e5e5e;
        padding: 15px;
        text-align: center;
}

.Chapter{
        padding: 5px;
        border-style: solid;
}

