body{
        /*background-image: url("/img/general/background.png");*/
}

a{
        color: black;
        text-decoration: none;
}

/* Estilos para el contenedor izquierdo */
#left-container{
        top: 0;
        display: flex; /* Esto hace que los elementos dentro de este contenedor se comporten como una columna */
        /*flex-direction: column; /* Los elementos se colocarán uno encima del otro */
        align-items: center; /* Los elementos se alinearán al centro horizontalmente */
        overflow-y: auto; /* Si hay demasiados elementos, permitirá desplazamiento vertical */
        height: 100%; /* Este contenedor ocupará toda la altura de la ventana del navegador */
        /* justify-content: center; /* Los elementos se centrarán verticalmente */
        /* text-align: center; /* El texto dentro de este contenedor se centrará */
        position: fixed; /* Su posición será fija incluso si desplazamos la página */
        left: 0; /* Y lo colocamos justo en el borde derecho de la página */
}
.left{

}

#center-container {
        padding-bottom: 3%;
        /* position: absolute; /* Esto significa que su posición será fija en relación con la ventana del navegador */
        left: 25%; /* Y lo colocamos justo en el borde izquierdo de la página */
}

/* Estilos para el contenedor derecho */
#right-container {
        /* Usaria TOP pero no parece ser necesario */
        display: flex; /* Esto hace que los elementos dentro de este contenedor se comporten como una columna */
        /* flex-direction: column; /* Los elementos se colocarán uno encima del otro */
        align-items: center; /* Los elementos se alinearán al centro horizontalmente */
        overflow-y: auto; /* Si hay demasiados elementos, permitirá desplazamiento vertical */
        height: 100%; /* Este contenedor ocupará toda la altura de la ventana del navegador */
        justify-content: center; /* Los elementos se centrarán verticalmente */
        text-align: center; /* El texto dentro de este contenedor se centrará */
        position: absolute; /* Posición absoluta...no hay más que decir */
        right: 0; /* Lo colocamos justo en el borde derecho de la página */
        flex-direction: column;
        width: 25%;
}

.right{

}

/* Estilos para los contenedores izquierdo y derecho */
#left-container, #right-container {
        padding-top: 3%;
}

.right , .left {

}